html {
    font-size: 62.5%;
    /* 16px * 62.5% = 10px = 1rem */
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}


/* Layout */

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #201e3a;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #201e3a;
    color: white;
    cursor: crosshair;
}


/* Common */

h1 {
    font-size: 20rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover {
    color: rgb(62, 179, 97);
}


/* Header */

header a {
    color: white;
    padding: 1rem;
}

a.marplace {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    transition-duration: 0.5s;
}

a.marplace:hover {
    color: rgb(62, 179, 97);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}


/* image */

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}


/* card */

.card {
    border: 0.1rem #201e3a solid;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.price {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: rgb(41, 41, 41);
}


/* Rating */

.rating span {
    color: gold;
    margin: 0.2rem;
}